.nowrap {
  white-space: nowrap;
}

div.message {
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  li {
    text-align: left;
  }
}

div.warning {
  background-color: #ab5300;
  color: #fff;
}

div.error {
  background-color: #d9534f;
  color: #fff;
}

li.correction_preview {
  a {
    padding: 0;
    div {
      padding: 8px;
    }
  }
}

div.meshTable {
  font-size: 85%;
  table {
    width: 100%;
    text-align: center;
    td.opacify {
      font-size: 90%;
      font-style: italic;
      opacity: .5;
      padding-bottom: 6px;
      padding-top: 0;
    }
  }
}

div.spinner {
  text-align: center;
}

div#processing_dialog_plugin_ABL_Expert,
div#results_dialog_plugin_ABL_Expert {
  .modal-body {
    // min-height: 400px;
  }
  table.state {
    width: 100%;
    td.right {
      text-align: right;
    }
  }
  table.temp {
    width: 100%;
    text-align: center;
  }
}

.hide {
  display: none;
}
