div#processing_dialog_plugin_ABL_Expert.modal.fade.hide
    div.modal-header
      h3 {{ _('Bed Leveling Expert') }}
    div.modal-body
      div(data-bind="if: preheatingEnabled() && onLeveling() && !preheatingDone()")
        h4 {{ _('Preheating') }}
        table.temp
          tbody
            tr
              th.temperature_tool
              th.temperature_actual(title="{{ _('Current actual temperature as reported by your printer') }}") {{ _('Actual') }}
              th.temperature_target(title="{{ _('Current target temperature as reported by your printer') }}") {{ _('Target') }}
            tr(data-bind="if: tempToolVisible()")
              th.temperature_tool(title="{{ _('Tool') }}") {{ _('Tool') }}
              td.temperature_actual(
                data-bind="html: formatTemperature(temp.tools()[0].actual()), attr: {title: formatTemperature(temp.tools()[0].actual())}")
              td.temperature_target(
                data-bind="html: formatTemperature(temp.tools()[0].target()), attr: {title: formatTemperature(temp.tools()[0].target())}")
            tr
              th.temperature_tool(title="{{ _('Bed') }}") {{ _('Bed') }}
              td.temperature_actual(
                data-bind="html: formatTemperature(temp.bedTemp.actual()), attr: {title: formatTemperature(temp.bedTemp.actual())}")
              td.temperature_target(
                data-bind="html: formatTemperature(temp.bedTemp.target()), attr: {title: formatTemperature(temp.bedTemp.target())}")
      div(data-bind="if: preheatingDone() && onLeveling()")
        h4 {{ _('Probing') }}
        div.spinner
          i.fa.fa-spinner.fa-spin.fa-3x
        h4 {{ _('Results :') }}
        div.meshTable(data-bind="visible: probedMeshTable(), html: probedMeshTable()")
        div.meshTable(data-bind="visible: fixedMeshTable(), html: fixedMeshTable()")
    div.modal-footer
      button.btn.btn-block(data-dismiss="modal" data-bind="visible: onLeveling()")
        | {{ _('Cancel') }}
      button.btn.btn-block(data-dismiss="modal" data-bind="visible: !onLeveling()")
        | {{ _('Close') }}

div#error_dialog_plugin_ABL_Expert.modal.fade.hide
  div.modal-header
    h3 {{ _('Bed Leveling Expert') }}
  div.modal-body
    div
      h4 {{ _('Error :') }}
      div.message.error(data-bind="visible: printerLackCap()")
        | {{ _('Error: Your printer doesn\'t support some capabilities needed by this plugin, please enable it in') }}
        | {{ _('your firmware :') }}
        ul
          li(data-bind="visible: !printerEeprom()") {{ _('EEPROM saving') }}
          li(data-bind="visible: !printerZprobe()") {{ _('Z probe support') }}
          li(data-bind="visible: !printerAbl()") {{ _('Bed auto leveling support') }}
      div If you need some help on how to do it, take a look at
        a(href="https://framagit.org/razer/Octoprint_ABL_Expert/blob/master/README.md") the main page of this plugin
  div.modal-footer
    button.btn.btn-block(data-dismiss="modal")
      | {{ _('Close') }}

div#results_dialog_plugin_ABL_Expert.modal.fade.hide
  div.modal-header
    h3 {{ _('Bed Leveling Expert') }}
  div.modal-body
    div
      h4 {{ _('Results :') }}
      div.meshTable(data-bind="visible: probedMeshTable(), html: probedMeshTable()")
      div.meshTable(data-bind="visible: fixedMeshTable(), html: fixedMeshTable()")
  div.modal-footer
    button.btn.btn-block(data-dismiss="modal")
      | {{ _('Close') }}

div#controlAblButton.hide
  button#ablButton.btn.control-box(data-bind="enable: isOperational() && !isPrinting(), click: function() { $root.doLeveling() }")
    | {{ _('Bed leveling') }}
